footer.footer
  .container
    .footer-top
      .footer-column
        h4 Giới thiệu
        p
          | Chúng tôi cung cấp các sản phẩm chất lượng với giá cả hợp lý, 
          | luôn đặt trải nghiệm khách hàng lên hàng đầu.

      .footer-column
        h4 Liên kết nhanh
        ul.footer-links
          li
            a(href='/') Trang chủ
          li
            a(href='/products') Sản phẩm
          li
            a(href='#') Khuyến mãi
          li
            a(href='#') Liên hệ

      .footer-column
        h4 Thông tin liên hệ
        ul.footer-contact
          li
            span Địa chỉ:
            |  123 Đường ABC, Quận XYZ, TP. Đà Nẵng
          li
            span Điện thoại:
            a(href='tel:+84901234567')  0901 234 567
          li
            span Email:
            a(href='mailto:support@example.com')  support@example.com

    .footer-bottom
      p
        | © 2025 Công ty TNHH Ví Dụ. 
        | Mọi quyền được bảo lưu.