extends ../../layout/default.pug

include ../../mixins/showalert.pug

block main
    h1(class="mb-4") Trang tài khoản

    +alertSuccess(5000)
    +alertError(5000)

    .card.mb-3
        .card-header    Danh sách
            .row
                .col-8
                .col-4.text-end
                    a(
                        href=`${prefixAdmin}/accounts/create`
                        class="btn btn-sm btn-outline-success"
                    ) + Thêm tài khoản
                    