header.admin-header.shadow-sm.mb-2
    .container-fluid.px-4
        .d-flex.align-items-center.justify-content-between.py-2
            //- Logo + tên hệ thống
            .d-flex.align-items-center
                a.d-flex.align-items-center.text-decoration-none(href="/admin/dashboard")
                    img.admin-logo.me-2(src="/images/logo_duyTan.png", alt="Logo hệ thống")
                    .d-flex.flex-column
                        span.admin-header-title.fw-semibold Hệ thống quản trị sản phẩm
                        span.admin-header-subtitle.small Quản trị & theo dõi hoạt động

            //- Đăng xuất
            .d-flex.align-items-center
                a.btn.btn-primary.ms-2(href=`${prefixAdmin}/auth/logout`) Đăng xuất